<div class="content-wrap">
<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <h1 class="page-title">Dashboard <small><small> Gestão de Veiculos</small></small></h1>
        <div class="row">
            <div class="col-md-8">
                <section class="widget" id="shares-widget" data-widgster-load="demo/ajax/widgets/shares.php">
                    <header class="ui-sortable-handle">
                        <h5>
                            <i class="fa fa-automobile"></i> &nbsp;
                            <span class="fw-semi-bold">Veiculos</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="load" title="" href="#" data-original-title="Reload"><strong class="text-gray-light">Reload</strong></a>
                            <a data-widgster="close" title="" href="#" data-original-title="Close"><strong class="text-gray-light">Close</strong></a>
                        </div>
                    </header>
                    <div class="widget-body no-padding">
                        <div class="list-group list-group-lg">
                            <a class="list-group-item" ng-repeat="truck in trucks" href="#/vehicle/{{truck.$.ID}}">
                                <span class="thumb-sm pull-left mr">
                                    <img class="img-circle" src="{{truck.Details[0].Image[0]}}">
                                </span>
                                <div ng-switch on="truck.$.State">
                                    <div ng-switch-when="avaliable">
                                        <i class="fa fa-circle pull-right text-success mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Disponivel</span></i>
                                    </div>
                                    <div ng-switch-when="on move">
                                        <i class="fa fa-circle pull-right text-warning mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Em Circulação</span></i>
                                    </div>
                                    <div ng-switch-default>
                                        <i class="fa fa-circle pull-right text-danger mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Parado</span></i>
                                    </div>
                                </div>
                                <h5 class="no-margin"><span>{{truck.Details[0].Brand[0]}}</span> {{truck.Details[0].Model[0]}}</h5>
                                <small class="text-muted">{{truck.Plate[0]}}</small>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget bg-transparent">
                    <header>
                        <h4>
                            Transportes
                            <span class="fw-semi-bold">Estatisticas</span>
                        </h4>
                        <div class="widget-controls widget-controls-hover">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p>Status: <strong>Live</strong></p>
                        <p>
                            <span class="circle bg-warning"><i class="fa fa-map-marker"></i></span>
                            {{deliveries.list.length}} Entregas, {{trucks.length}} Veiculos
                        </p>
                        <div class="row progress-stats">
                            <div class="col-sm-9">
                                <h5 class="name">Entregas pendentes</h5>
                                <p class="description deemphasize">A aguardar transporte</p>
                                <div class="progress progress-sm js-progress-animate bg-white">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" data-width="60%" aria-valuemax="100" style="width: {{deliveries.pending_deliveries}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span id="percent-1">{{deliveries.pending_deliveries}}</span>%</small>
                                </span>
                            </div>
                        </div>
                        <div class="row progress-stats">
                            <div class="col-sm-9">
                                <h5 class="name">Encomendas pendentes</h5>
                                <p class="description deemphasize">Veiculos em transporte</p>
                                <div class="progress progress-sm js-progress-animate bg-white">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="39" data-width="39%" aria-valuemin="0" aria-valuemax="100" style="width: {{deliveries.pending_orders}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-align-center">
                                <span class="status rounded rounded-lg bg-body-light">
                                    <small><span id="percent-2">{{deliveries.pending_orders}}</span>%</small>
                                </span>
                            </div>
                        </div>
                        <h5 class="fw-semi-bold mt">Map Distributions</h5>
                        <p>Tracking: <strong>Active</strong></p>
                    </div>
                </section>
            </div>
        </div>
    </main>
     </div>