<div class="content-wrap">
	<!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
	<main id="content" class="content" role="main">
		<ol class="breadcrumb">
			<li><a ui-sref="dashboard">Dashboard</a></li>
			<li class="active">Detalhes do Veiculo</li>
		</ol>
		<h1 class="page-title">{{truck.Details[0].Brand[0]}} {{truck.Details[0].Model[0]}} - <span class="fw-semi-bold">{{truck.Plate[0]}}</span></h1>
		<div class="row">
			<div class="col-lg-5">
				<p class="search-results-count"></p>
				<section class="search-result-item">
					<a class="image-link" href="#">
						<img class="image" src="{{truck.Details[0].Image[0]}}">
					</a>
					<div class="search-result-item-body">
						<div class="row">
							<div class="col-sm-8">
								<h4 class="search-result-item-heading">
									<a>{{truck.Details[0].Brand[0]}} {{truck.Details[0].Model[0]}}</a>
								</h4>
								<p class="info">
									Ano: {{truck.Details[0].Year[0]}} Cor: {{truck.Details[0].Color[0]}}
								</p>
								<p class="description"></p>
							</div>
							<div class="col-sm-4">
								<div ng-switch on="truck.$.State">
									<div ng-switch-when="avaliable">
										<i class="fa fa-circle pull-right text-success mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Disponivel</span></i>
									</div>
									<div ng-switch-when="on move">
										<i class="fa fa-circle pull-right text-warning mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Em Circulação</span></i>
									</div>
									<div ng-switch-default>
										<i class="fa fa-circle pull-right text-danger mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Parado</span></i>
									</div>
								</div>
							</div>
							<p class="description"></p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div>
        	<a ui-sref="vehicle({ vehicleID: truck.$.ID })">Veículo</a>
    	</div>
		<h1 class="page-title" style="margin-top: 100px;">Histórico - <span class="fw-semi-bold">Notificações</span></h1>
		<div class="row">
		<section ng-repeat="notification in notifications" class="search-result-item" style="padding-bottom: 20px;">
				<div class="search-result-item-body">
					<div class="row">
						<div class="col-sm-8">
							<h4 class="search-result-item-heading">
								<time class="event-time" datetime="{{notification.$.timestamp}}">
									<span class="datime">{{notification.$.timestamp}}</span>
								</time>
								<span class="event-icon event-icon-primary">
									<i class="glyphicon glyphicon-clock"></i>
								</span>
							</h4>
							<p class="info">
								{{notification._}}
							</p>
							<p class="description"></p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
</div>