<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li><a href="/#/dashboard">Dashboard</a></li>
            <li class="active">Detalhes do Veiculo</li>
        </ol>
        <h1 class="page-title">{{truck.Details[0].Brand[0]}} {{truck.Details[0].Model[0]}} - <span class="fw-semi-bold">{{truck.Plate[0]}}</span></h1>
        <div class="row">
            <div class="col-lg-5">
                <p class="search-results-count"></p>
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        <img class="image" src="{{truck.Details[0].Image[0]}}">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="search-result-item-heading">
                                    <a>{{truck.Details[0].Brand[0]}} {{truck.Details[0].Model[0]}}</a>
                                </h4>
                                <p class="info">
                                    Ano: {{truck.Details[0].Year[0]}} Cor: {{truck.Details[0].Color[0]}}
                                </p>
                                <p class="description"></p>
                            </div>
                            <div class="col-sm-4">
                                <div ng-switch on="truck.$.State">
	                                    <div ng-switch-when="avaliable">
	                                        <i class="fa fa-circle pull-right text-success mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Disponivel</span></i>
	                                    </div>
	                                    <div ng-switch-when="on move">
	                                        <i class="fa fa-circle pull-right text-warning mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Em Circulação</span></i>
	                                    </div>
	                                    <div ng-switch-default>
	                                        <i class="fa fa-circle pull-right text-danger mt-sm"><span style="float: left;color: gray;margin: 0 10px;">Parado</span></i>
	                                    </div>
	                                </div>
                                </p>
                                <p class="description"></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div>
        	<a ui-sref="notifications({ vehicleID: truck.$.ID })">Notificações</a>
    	</div>
        <h1 class="page-title" style="margin-top: 100px;">Histórico - <span class="fw-semi-bold">Entregas</span></h1>
        <div class="row">
	        <ul class="timeline">
	            <li ng-repeat="delivery in deliveries" ng-class-odd="'on-left'">
	                <time class="event-time" datetime="{{delivery.ArrivalTime[0].$.date}} {{delivery.ArrivalTime[0].$.hour}}">
	                    <span class="date">{{delivery.ArrivalTime[0].$.date}}</span>
	                    <span class="time">{{delivery.ArrivalTime[0].$.hour}}h</span>
	                </time>
	                <span class="event-icon event-icon-primary">
	                    <i class="glyphicon glyphicon-road"></i>
	                </span>
	                <section class="event" style="padding-bottom: 20px;">
	                	<div ng-repeat="order in delivery.Orders[0]">
		                    <h4 class="event-heading">
		                    	Encomenda {{order[0].$.type}} - <small>#{{order[0].Reference[0]}} </small>
		                    </h4>
		                    <p class="fs-sm text-muted">Estado:<small> {{order[0].$.status}}</small></p>
		                    <div style="margin-left: 20px;">
		                    	<h4>Remetente</h4>
		                    	<div style="margin-left: 20px;">
		                    		<p class="fs-mini">
		                        		<h5 class="no-margin">{{order[0].Sender[0].$.name}}</h5>
	                            		<p class="help-block text-ellipsis no-margin">{{order[0].Sender[0].$.addr}}</p>
		                    		</p>
		                    	</div>
		                    	<h4>Receptor</h4>
		                    	<p class="fs-mini">
		                    		<div style="margin-left: 20px;">
		                        		<h5 class="no-margin">{{order[0].Receiver[0].$.name}}</h5>
	                            		<p class="help-block text-ellipsis no-margin">{{order[0].Receiver[0].$.addr}}</p>
	                            	</div>
		                    	</p>
		                    </div>
	                    </div>
	                    <div style="width: 700px;height: 400px;margin: 0 auto;" id="mapContainer{{$index}}"></div>
	                	{{map("mapContainer"+$index)}}
	                </section>
	            </li>
	        </ul>
	    </div>
    </main>
</div>